@import "./variables.scss";

@font-face {
    font-family: 'dejavu_sanscondensed';
    src: url('../fonts/DejaVuSansCondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dejavu_sanscondensed';
    src: url('../fonts/DejaVuSansCondensed-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



body{
    color: $bg;
    font-family: "dejavu_sanscondensed";
}

img{
    max-width: 100%;
    &.half-img{
        width: 40%;
    }
    &.vh100{
        height: 81vh;
        align-self: flex-start;
    }
}

.section{
    background-color:$bg;
    &.dark{
        background-color: $gray;
    }
    h1{
        font-size: $l;
    }
    .sections-imgs{
        display: flex;
        height: 80%;
        .sleeve{
            max-width: 50%;
        }
        .whole,.sleeve{
            margin-top: 2.5%;
            margin-bottom: 2.5%;
        }
        &.right{
            .whole,.sleeve{
                margin-left: auto;
            }
        }
        &.left{
            .whole,.sleeve{
                margin-right: auto;
            }
        }
    }
}

.clip{
    background-color: $gray;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20%;

    p{
        margin-top: 0;
        font-size: $s;
    }
    h1{
        margin-bottom: 10px;
    }
    &.right{
        text-align: right;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 53%);
        .section-description{
            padding-right: 50px;
        }
    }
    &.left{
        clip-path: polygon(90% 0, 100% 53%, 100% 100%, 0 100%, 0 0);
        .section-description{
            padding-left: 50px;
        }
    }
}
.section.landing{
    .logo{
        max-width: 250px;
        width: 100%;
        margin: 3rem auto;
        display: block;
    }
    .main-info{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p{
            font-size: $l;
            text-align: center;
            width: 100%;
        }
        .scroll-down{
            display: flex;
            align-items: center;
            img{
                height: 64px;
                position: relative;
                animation: upndown 5s infinite;
            }
            span{
                font-size: $l;
                font-weight: bold;
                margin: 0 1rem;
            }
        }
    }
}

@keyframes upndown {
    0%{
        top: 0px
    }
    9%{
        top: 10px;
    };
    10%{
        top: 0px
    };
    100%{
        top: 0px
    }
}

.top-clip{
    height: 15%;
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: $l;
    text-align: center;
}

.folk{
    position: relative;
    .muz-desc{
        text-align: right;
        margin-right: 5%;
        padding-top: 4%;
    }
    .muz-desc, .mik-desc{
        h2{
            font-size: $l;
            color: $gray;
            margin-bottom: 0;
        }
        p{
            margin-top: 1rem;
            font-size: $m;
            color: $gray;
        }
    }

    .mik-desc{
        position: absolute;
        bottom: 5%;
        left: 5%;
    }
    #muzicka-img{
        position: absolute;
        max-width: 33%;
        top: 17%
    }
    #mikovjan-img{
        position: absolute;
        max-width: 33%;
        right: 0;
        bottom: 0;
    }
}

.etikety{
    .top-clip{
        height: 20%;
    }
}

#eimg{
    height: 65%;
    display: block;
    margin: 5% auto;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    .cta{
        font-size: $l;
        text-align: center;
    }
    .contact-details{
        text-align: center ;
        .name{
            font-size: $l;
            display: block;
        }
        span{
            margin-top: 1rem;
        }
        .mailtel{
            display: block;
            font-size: $m;

            a{
                color: $bg;
                text-decoration: none;
                :hover{
                    text-decoration: none;
                }
            }
        }
    }
    .b2c-link{
        color: $gray;
        margin-top: 2rem;
        display: block;
        background-color: $bg;
        text-align: center;
        padding: 1rem;
        font-size: $l;
        text-decoration: none;
        :hover{
            text-decoration: none;
        }
    }
    #btm-logo{
        max-width: 200px;
        display: block;
        margin: 2rem auto 0 auto;
    }
}